<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqube.tipshub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icn_medium"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.PostTipsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.FullViewSbActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LeaguesActivity"
            android:exported="true" />
        <activity
            android:name=".activities.NgSubActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ExtendedHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.VipSubActivity" />
        <activity
            android:name=".activities.LandActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FullViewActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.GuideActivity" />
        <activity android:name=".activities.ContactActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_svg" /> <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_live_b1fb1b639cada42a50b304d06a34058ef8c1e6b7" />

        <activity android:name=".activities.FollowerListActivity" />
        <activity android:name=".activities.FlagActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SignupActivity" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.MemberProfileActivity" />
        <activity
            android:name=".activities.PostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.RepostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.SubscriptionActivity" />
        <activity
            android:name=".activities.FullPostActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".services.UserDataFetcher" />
    </application>

</manifest>